# Pacotes principais do Framework
Django>=5.0,<6.0

# Configuração e Ambiente
python-dotenv>=1.0,<2.0     # Para ler o arquivo .env
dj-database-url>=2.1,<3.0  # Para configurar o banco de dados via URL (usando a variável DATABASE_URL)

# Banco de Dados PostgreSQL
psycopg2-binary>=2.9,<3.0    # Driver para conexão com PostgreSQL

# Pacotes de Produção/Deploy
gunicorn>=21.2,<22.0        # Servidor WSGI
whitenoise>=6.6,<7.0        # Para servir arquivos estáticos em produção (modificado em settings.py)
celery>=5.5.3